RewriteEngine on

RewriteRule ^listen/(\d+)\.(.+)$		listen.php?id=$1&format=$2 [L]
RewriteRule ^get/(\d+)\.(.+)$			download.php?id=$1 [L]

RewriteRule ^get/(\d+)/(.+)$ download.php?id=$1&name=$2 [L]
RewriteRule ^api$ api.php?%{QUERY_STRING}
RewriteRule ^status$ status.php?%{QUERY_STRING}
RewriteRule ^endless$ endless.php
